<div class="container">
  <h2 class="text-center">My Skills</h2>
  <div class="row">
    <!-- HTML -->
    <div class="col-sm-4">
      <div class="bg-info frame">
        <div class="text-center">
          <img src="assets/h.jpeg" alt="HTML Logo" class="skill-logo">
          <p>HTML</p><br>
        </div>
      </div>
    </div>
    
    <!-- CSS -->
    <div class="col-sm-4">
      <div class="bg-warning frame">
        <div class="text-center">
          <img src="assets/j.jpeg" alt="CSS Logo" class="skill-logo">
          <p>JAVA</p><br>
        </div>
      </div>
    </div>
    
    <!-- Java -->
    <div class="col-sm-4">
      <div class="bg-primary frame">
        <div class="text-center">
          <img src="assets/cpp.jpeg" alt="Java Logo" class="skill-logo">
          <p>JAVA</p><br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- PHP -->
    <div class="col-sm-4">
      <div class="bg-info frame">
        <div class="text-center">
          <img src="assets/ph.jpeg" alt="PHP Logo" class="skill-logo">
          <p>PHP</p><br>
        </div>
      </div>
    </div>
    
    <!-- .NET -->
    <div class="col-sm-4">
      <div class="bg-warning frame">
        <div class="text-center">
          <img src="assets/php.jpeg" alt="DotNet Logo" class="skill-logo">
          <p>CPP</p><br>
        </div>
      </div>
    </div>
    
    <!-- Python -->
    <div class="col-sm-4">
      <div class="bg-primary frame">
        <div class="text-center">
          <img src="assets/py.jpeg" alt="Python Logo" class="skill-logo">
          <p>PYTHON</p><br>
        </div>
      </div>
    </div>
  </div>
</div>
